<?xml version="1.0" encoding="utf-8" ?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="media:request">
		<handler type="Sitecore.Support.Analytics.Media.MediaRequestEventHandler, Sitecore.Support.108942" patch:instead="handler[@type='Sitecore.Analytics.RobotDetection.Media.MediaRequestEventHandler, Sitecore.Analytics.RobotDetection']" method="OnMediaRequest"/>
      </event>
    </events>
  </sitecore>
</configuration>
